.benv/
src/test.ipynb
src/test.py 
basesDeDonnees/MongoData/
basesDeDonnees/MysqlData/
basesDeDonnees/Postgres_Data/
Airflow/logs/
Datalakes/data_node1/
Datalakes/data_node2/
Datalakes/logs/
Datalakes/namenode/
Datalakes/test.sh/
Datalakes/yarn_logs/
Datalakes/hadoop_logs/
DataWarehouse/DataWarhouse_data/
Dossiers_json_excel_csv/
Spark/script-sparkshell/.bash_history
Airflow/logs/dag_processor_manager/dag_processor_manager.log
Spark/script-sparkshell/.python_history
Airflow/dags/__pycache__/PremierDagLake.cpython-312.pyc
Spark/script-sparkshell/.ssh/
Spark/script-sparkshell/.cache/
Dash/test.ipynb
Dash/test2.ipynb
zenML/src/tests/test.ipynb
zenML/src/tests/test1.ipynb
Dash/mlops.py
Dash/__pycache__
zenML/src/__pycache__
.env
Airflow/.env
basesDeDonnees/.env
DataWarehouse/.env
Airflow/logs











